# Tuple creation

In [2]:
t1=()  #empty tuple
t2=(10,30,70)  #tuple of interger numbers
t3=(10,77,50.56,60.76)   # tuple of float numbers
t4=('one','two',"three")   #tuple of string numbers
t5=('Ash',45,(60,200),(100,90)) #Nested list
t6=(200,'Ash',16.567) # tuple of mixed data typess
t7=('Ash',25,[50,100],[150,90],{'john','David'},(99,22,33))
len(t7)  # length of list

6

# Tuple Indexing

In [7]:
t2[0] # Retreive first element of the tuple

10

In [9]:
t4[5]

IndexError: tuple index out of range

In [11]:
t4[2]

'three'

In [13]:
t3[3]

60.76

In [19]:
t7[5]

(99, 22, 33)

In [21]:
t4[0][0]  #Nested indexing - Access the first character of the first tuple element

'o'

In [23]:
t4[-1] # Last item of the tuple

'three'

# Tuple Slicing

In [28]:
mytuple=( 'one','two','three','four','five','six','seven','eight',)
mytuple[0:3] #Return all item from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [30]:
mytuple[-1]  #Return last element of the item

'eight'

In [32]:
mytuple[-1:]  #Return last element of the item

('eight',)

In [34]:
mytuple[2:5]  # list all item from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [36]:
mytuple[:3] # Return fisrt three items

('one', 'two', 'three')

In [38]:
mytuple[:2] # Return fisrt two items

('one', 'two')

In [40]:
mytuple[-5] # Return last five items

'four'

In [46]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change items

In [49]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [51]:
del mytuple[0] #Tuples are immutable which means we can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [55]:
mytuple[0]=1 # Tuple are immutable which means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

# Loop through a tuple

In [58]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [64]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [66]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [69]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [73]:
'one' in mytuple  #check if 'one' exist in the list

True

In [77]:
'nine' in mytuple

False

In [79]:
if 'four' in mytuple: #check if 'four' exist in the list
    print('four is present in the tuple')
else:
    print('four is not present in the tuple')

four is present in the tuple

In [81]:
if 'twenty' in mytuple: #check if 'twenty' exist in the list
    print('twenty is present in the tuple')
else:
    print('twenty is not present in the tuple')

twenty is not present in the tuple

# Index Position

In [84]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [86]:
mytuple.index('one') #index of first element equal to 'one'

0

In [94]:
mytuple.index('nine')

ValueError: tuple.index(x): x not in tuple

In [96]:
mytuple.index('three') #index of first element equal to three

2

In [100]:
mytuple1.index('one')

NameError: name 'mytuple1' is not defined

# Sorting

In [105]:
mytuple2=(55,67,98,24,10) # Returns a new sorted list and dose'nt change original tuple
sorted(mytuple)

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [107]:
sorted(mytuple,reverse=True) #sort in descending order

['two', 'three', 'six', 'seven', 'one', 'four', 'five', 'eight']